<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>정적 자원(js, css, html) 연결</title>
<link rel="stylesheet" href="/css/ex/css">
</head>
<body>
	<!-- link 연결 script 파일 구분지어서 연결 
		반려 사진 3장 띄워주기
		background-color : lightpink
		ex.js ->jquery 이용해서 버튼 클릭하기 만들어주기
	-->
		
	<h1>정적 자원을 연결하는 곳입니다.</h1>
	<div class="container">
		<img src="/image/marley.jpg">
		<img src="/image/hogam.jpg">
		<img src="/image/healing.jpg">
		
		<button id="btn">자바스크립트 연결 테스트</button>
		
		<script src="/js/ex.js"></script>
	</div>
</body>
</html>